[Unit]
Description=Serveur maison
After=docker.service

[Service]
Type=oneshot
RemainAfterExit=yes
WorkingDirectory=<REPO_PATH>
ExecStart=docker compose --profile ci up -d --build

[Install]
WantedBy=multi-user.target